/* Style général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1D1D1D; /* Fond sombre */
    color: #FFFFFF;
 }
 
 /* Barre de navigation */
 nav {
    background-color: #2A2A2A;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
 }
 
 .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
 }
 
 .site-name {
    font-size: 20px;
    font-weight: bold;
 }
 
 .movie-btn {
    background-color:#43093f; /* Rouge vif pour le bouton */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
 
 .movie-btn:hover {
    background-color: #43093f; /* Effet au survol */
 }
 
 /* Header principal */
 header {
    text-align: center;
    padding: 30px 0;
    background-color: #343434; /* Fond légèrement contrasté */
    color: #43093f; /* Couleur dorée pour le titre */
 }
 
 header h1 {
    font-size: 3rem;
    margin: 0;
 }
 
 /* Conteneur des cartes */
 .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
 }
 
 /* Style de la carte */
 .card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0.3s ease;
    box-shadow: 0 4px 8px #43093f;
    cursor: pointer;
 }
 
 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
 /* Effet overlay */
 .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
 }
 
 .card:hover .card-overlay {
    opacity: 1;
 }
 
 .card h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color:#43093f;
 }
 
 .card p {
    font-size: 1rem;
    margin: 5px 0;
 }
 
 /* Survol */
 .card:hover {
    transform: scale(1.05);
    z-index: 10;
 }
 